* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Golos Text", sans-serif;
  color: white;
  background-color: #111;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: block;
  cursor: pointer;
  border-radius: 5px;
  padding: 6px 40px;
  margin-top: 8px;
  transition: all 0.3s ease;
  border: none;
  outline: none;

  &:hover {
    background-color: #bcd1e6;
  }
}
