.form {
  display: flex;
  flex-direction: column;
  margin: 0.625rem auto 1.875rem;

  & input {
    padding: 0.3125rem 0.625rem;
    border: 0.0625rem solid transparent;
    margin-bottom: 0.625rem;
    transition: border-color 0.4s ease-in-out;
    border: none;
    outline: none;

    &:focus {
      border-color: blue;
    }
  }
}
