* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Golos Text", sans-serif;
  color: #fff;
  background-color: #111;
  padding: 20px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 6px 40px;
  max-width: 100px;
  border-radius: 5px;
  margin-top: 8px;
  color: #111;
  background-color: #fff;
  transition: all 0.3s ease;
  border: none;
  outline: none;
  text-decoration: none;

  &:hover {
    background-color: #bcd1e6;
  }
}
